docker/mysql/dump.sql

wwww/php7
wwww/php7/wordpress4
wwww/php7/wordpress6
!wwww/php7/assets/*
!wwww/php7/dbteste.php
!wwww/php7/index.php
!wwww/php7/info.php
!wwww/php7/phptestes.php

wwww/php8
!wwww/php8/assets/*
!wwww/php8/dbteste.php
!wwww/php8/index.php
!wwww/php8/info.php
!wwww/php8/phptestes.php

